.fade {
  	opacity: 0;
  	transition: opacity 0.15s linear;
}

.fade.in {
  	opacity: 1;
}

.close {
  	float: right;
  	font-size: 21px;
  	font-weight: bold;
  	line-height: 1;
  	color: #000000;
  	text-shadow: 0 1px 0 #ffffff;
  	opacity: 0.2;
  	filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  	color: #000000;
  	text-decoration: none;
  	cursor: pointer;
  	opacity: 0.5;
  	filter: alpha(opacity=50);
}

button.close {
  	padding: 0;
  	cursor: pointer;
  	background: transparent;
  	border: 0;
  	-webkit-appearance: none;
}
.modal-open {
  	overflow: hidden;
}
.modal {
  	display: none;
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1040;
  	-webkit-overflow-scrolling: touch;
  	outline: 0;
}
.modal.fade .modal-dialog {
  	-webkit-transform: translate(0, -25%);
  	-ms-transform: translate(0, -25%);
  	transform: translate(0, -25%);
  	transition: -webkit-transform 0.3s ease-out;
  	transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  	-webkit-transform: translate(0, 0);
  	-ms-transform: translate(0, 0);
  	transform: translate(0, 0);
}
.modal-open .modal {
  	overflow-x: hidden;
  	overflow-y: auto;
}
.modal-dialog {
  	position: relative;
  	width: auto;
  	margin: 10px;
}
.modal-content {
  	position: relative;
  	background-color: #ffffff;
  	border-radius: 6px;
  	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  	background-clip: padding-box;
  	outline: 0;
}
.modal-backdrop {
  	position: fixed;
  	top: 0;
  	right: 0;
  	left: 0;
  	background-color: #000000;
    z-index: 100000;
}
.modal-backdrop.fade {
  	opacity: 0.5;
  	filter: alpha(opacity=50);
}
.modal-backdrop.in {
  	opacity: 0.5 !important;
  	filter: alpha(opacity=50);
}
.modal-header {
	background-color: $body;
  	padding: 15px;
  	border-bottom: 1px solid #e5e5e5;
  	min-height: 16.42857143px;
}
.modal-header .close {
  	margin-top: -2px;
}
.modal-title {
  	margin: 0;
  	line-height: 1.42857143;
}
.modal-body {
  	position: relative;
  	padding: 15px;
}
.modal-footer {
	background-color: $body;
  	padding: 15px;
  	text-align: right;
  	border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  	margin-left: 5px;
  	margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  	margin-left: 0;
}
.modal-scrollbar-measure {
  	position: absolute;
  	top: -9999px;
  	width: 50px;
  	height: 50px;
  	overflow: scroll;
}
@media (min-width: 768px) {
  	.modal-dialog {
    	width: 600px;
		margin: 30px auto;
  	}
  	.modal-content {
    	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  	}
  	.modal-sm {
    	width: 300px;
  	}
}
@media (min-width: 992px) {
  .modal-lg {
    	width: 90%;
  	}
}
.fade {
  opacity: 0.5;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}