html, body {
	background-color: #101010;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
}

@font-face {
    font-family: "Trajan Pro";
    src: url('fonts/trojan.ttf') format('truetype');
}

hr.bottom-news {
	border: 0;
	border-bottom: 1px solid #000000;
	margin: 0;
	padding-top: 20px;
}

p.link {
	color: #c1c1c1;
	margin: 0;
}

p.link a:link,
p.link a:visited {
	color: #daa338;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
}

p.link a:active,
p.link a:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: #c1c1c1;
	text-decoration: none;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
}

/* CSS SLIDER */
.banner {
	border-bottom: 1px solid #303030;
}

	@media(max-width: 480px) {
		.banner {
			display: none !important;
		}
	}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* CSS GENERAL */
#content {
	position: relative;
	top: -100px;
	z-index: 500;
}

#content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#content ul li {
	float: left;
	margin-right: 2%;
	width: 32%;
}

	@media(max-width: 480px) {
		#content ul li {
			display: none;
		}
	}

#content ul li .holder {
	background-color: #252525;
	background-image: url(images/bg_content.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	padding: 5px;
}

#content ul li .holder .top {
	height: 160px;
	width: 100%;
}

#content ul li .holder .top img {
	display: block;
	height: 100%;
	width: 100%;
}

#content ul li .holder .bottom {
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	overflow: hidden;
	top: 100px;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
}

#content ul li .holder .bottom h2 {
	color: #c1c1c1;
	float: left;
	font-family: 'Trajan Pro';
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform: uppercase;
}

#content ul li .holder .bottom p {
	margin: 0;
}

#content ul li .holder .bottom p a:link,
#content ul li .holder .bottom p a:visited {
	color: #daa338;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 3%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
}

#content ul li .holder .bottom p a:active, 
#content ul li .holder .bottom p a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: #c1c1c1;
}

#content ul li:last-child {
	margin-right: 0;
}

#events {
	border-top: 1px solid #252525;
}

#full-holder {
	background-color: #252525;
	background-image: url(images/bg_content.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	margin-top: 25px;
	overflow: hidden;
	padding: 15px;
}

#full-holder #full-content {
	float: left;
	text-align: center;
	width: 100%;
}

#full-holder #full-content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#full-holder #full-content li.utility-box {
	background-color: #404040;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	float: left;
	margin-bottom: 2%;
	margin-right: 2%;
	padding: 5% 2.5%;
	width: 12.9%;
}

#full-holder #full-content li.utility-box  .very-large {
	font-size: 46px;
}

#full-holder #full-content li.utility-box h2 {
	color: #505050;
	display: block;
	font-size: 16px;
	margin: 0;
	padding: 0;
	padding-top: 35px;
}

#full-holder #full-content li.utility-box h2 a:link, #full-holder #full-content li.utility-box h2 a:visited  {
	color: #c1c1c1;
	display: block;
	text-decoration: none;
}

#full-holder #full-content li.utility-box h2 a:active, #full-holder #full-content li.utility-box h2 a:hover {
	color: #daa338;
	text-decoration: none;
}

	@media(min-width: 768px) {
		#full-holder #full-content li.utility-box:nth-child(5n) {
			margin-right: 0;
		}

		#full-holder #full-content li.utility-box:nth-child(5n+1) {
			clear: both;
		}
	}

	@media(max-width: 480px) {
		#full-holder #full-content li.utility-box {
			margin-bottom: 5% !important;
			margin-right: 5% !important;
			width: 41.5% !important;
		}

		#full-holder #full-content li.utility-box h2 {
			font-size: 12px;
		}

		#full-holder #full-content li.utility-box:nth-child(2n) {
			margin-right: 0 !important;
		}

		#full-holder #full-content li.utility-box:nth-child(2n+1) {
			clear: both;
		}
	}

#full-holder #full-content .body {
	background-color: #282928;
	background-image: url(images/bg_news_top.png);
	background-repeat: repeat-x;
	box-shadow: 0px 0px 10px 5px #000000;
	padding: 10px;
}

#full-holder #full-content .body .fake {
	background-color: #404040;
	background-image: url(images/bg_fake.png);
	background-repeat: repeat;
	border: 1px solid #050505;
	margin-bottom: 2%;
	padding: 20px;
	padding-top: 5px;
}

#full-holder #full-content h1 {
	color: #daa338;
	font-family: 'Trajan Pro';
	font-size: 28px;
	padding-bottom: 20px;
}

#full-holder #full-content h2 {
	color: #c1c1c1;
	font-family: 'Trajan Pro';
	font-size: 18px;
	padding-bottom: 50px;
	padding-top: 20px;
}


#full-holder #full-content p {
	color: #808080;
	font-size: 14px;
}

#full-holder #full-content input[type="text"], input[type="email"], input[type="password"] {
	background-image: url(images/bg_body.png);
	border: 1px solid #252525;
	box-shadow: 0px 0px 6px 3px #000000 inset;
	color: #c1c1c1;
	font-size: 14px;
	margin-bottom: 20px;
	outline: none;
	padding: 20px 10px !important;
	text-align: center;
	width: 60% !important;
}

	@media(max-width: 480px) {
		#full-holder #full-content input[type="text"], input[type="email"], input[type="password"] {
			width: 85% !important;
		}
	}

#full-holder #full-content input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	box-shadow: 0px 0px 10px 5px #000000 inset;
}

#full-holder #full-content input[type="submit"] {
	background-image: url(images/bg_body.png);
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	color: #daa338;
	cursor: pointer;
	font-family: 'Trajan Pro';
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 50px;
	outline: none;
	padding: 20px 40px;
	text-shadow: 1px 1px #000000;
}

#full-holder #full-content input[type="submit"]:focus {
	box-shadow: 0px 0px 6px 3px #000000;
}

#full-holder #half-content {
	float: left;
	margin-right: 5%;
	width: 60%;
}

	@media(max-width: 480px) {
		#full-holder #half-content {
			margin-right: 0 !important;
			width: 100%;
		}
	}

#full-holder #half-content .box {
	background-color: #404040;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	overflow: hidden;
	padding: 10px;
}

#full-holder #half-content h1 {
	color: #daa338;
	font-family: 'Trajan Pro';
	font-size: 28px;
	line-height: 28px;
	padding-bottom: 20px;
}

	@media(max-width: 480px) {
		#full-holder #half-content h1 {
			text-align: center;
		}
	}

#full-holder #half-content p.author {
	color: #808080;
	font-style: italic;
	margin: 0;
	padding: 10px 0px; 
}

#full-holder #half-content p.text {
	color: #c1c1c1;
}

#full-holder #half-content img {
	height: auto;
	max-width: 100%;
	width: 100%;
}

#full-holder #half-content ul {
	border-top: 1px solid #303030;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

#full-holder #half-content ul.categories li a:link,
#full-holder #half-content ul.categories li a:visited {
	background-image: url(images/paper_2.png);
	background-repeat: repeat;
	border: 1px solid #353535;
	border-radius: 3px;
	box-shadow: 0px 0px 4px 2px #050505;
	color: #858585;
	float: left;
	font-size: 12px;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 1px 8px 2px 8px;
	text-decoration: none;
	transition:ease-out 0.3s;
		-moz-transition:ease-out 0.3s;
		-ms-transition:ease-out 0.3s;
		-o-transition:ease-out 0.3s;
		-webkit-transition:ease-out 0.3s;
}

#full-holder #half-content ul.categories li a:active,
#full-holder #half-content ul.categories li a:hover {
	box-shadow: 0px 0px 4px 2px #000000;
	color: #daa338;
	text-decoration: none;
}

#full-holder #half-content .side-bar {
	float: left;
	width: 100%;
}

#full-holder #half-content .side-bar .to-show .loader {
	text-align: center;
	width: 100%;
}

#full-holder #half-content .side-bar .to-show .loader p {
	color: #c1c1c1;
	font-size: 11px;
}

#full-holder #half-content .side-bar .to-show .loader img.loading {
	height: 30px !important;
	width: 30px !important;
}

#full-holder #half-content .side-bar p.small {
	color: #505050;
	font-size: 11px;
	font-style: italic;
	margin-bottom: 0;
	padding: 0;
}

#full-holder #half-content .side-bar .body {
	background-color: #282928;
	background-image: url(images/bg_news_top.png);
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 5px #000000;
	padding: 10px;
	z-index: 50;
}

#full-holder #half-content .side-bar .body_fake {
	background-color: #404040;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000 inset;
	margin-bottom: 5px;
	z-index: 1;
}

#full-holder #half-content .side-bar .body_fake .event-title {
	color: #808080;
	cursor: pointer;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 15px;
	transition:ease-out 0.3s;
		-moz-transition:ease-out 0.3s;
		-ms-transition:ease-out 0.3s;
		-o-transition:ease-out 0.3s;
		-webkit-transition:ease-out 0.3s;
}

#full-holder #half-content .side-bar .body_fake .event-title:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #c1c1c1;
}

#full-holder #half-content .side-bar .body_fake .active-title {
	background-color: rgba(0, 0, 0, 0.5);
	color: #c1c1c1;
	cursor: pointer;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 15px;
}

#full-holder #half-content .side-bar .body_fake .event-toggle {
	display: none;
}

#full-holder #half-content .side-bar .body_fake .event-toggle img.exact {
	height: auto;
	max-width: 30px !important;
	vertical-align: middle;
	width: 30px !important;
}

#full-holder #half-content .side-bar .body_fake .event-toggle p {
	color: #808080;
	padding-left: 15px;
}

#full-holder #half-content .side-bar .body_fake .event-toggle p.host {
	border-bottom: 1px solid #000000;
	color: #c1c1c1;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 0px 10px 0px;
	text-align: left;
}

#full-holder #half-content .side-bar .body_fake .event-toggle p.info {
	border-top: 1px solid #252525;
	color: #c1c1c1;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 0px 20px 0px;
	text-align: left;
}

#full-holder #half-content .side-bar .body_fake .event-toggle p.join {
	background-color: #2e8729;
	border-radius: 5px;
	margin: 0;
	padding: 2px 5px;
	width: 15%;
}

#full-holder #half-content .side-bar .body_fake .event-toggle p.join:hover {
	background-color: #23711f;
}

#full-holder #half-content .side-bar .body .fake {
	background-color: #404040;
	background-image: url(images/bg_fake2.png);
	background-repeat: repeat;
	border: 1px solid #050505;
	padding: 5px;
}

#full-holder #half-content .side-bar .body h2 {
	border-bottom: 1px solid #050505;
	color: #c1c1c1;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
}

#full-holder #half-content .side-bar .body img {
	display: block;
	height: auto;
	width: 100%;
	max-width: 100%;
}

#full-holder #half-content_last {
	float: left;
	width: 35%;
}

	@media(max-width: 480px) {
		#full-holder #half-content_last {
			width: 100%;
		}
	}

#full-holder #half-content_last h2 {
	color: #c1c1c1;
	font-family: 'Trajan Pro';
	font-size: 22px;
	padding-bottom: 26px;
}

	@media(max-width: 480px) {
		#full-holder #half-content_last h2 {
			padding-bottom: 10px !important;
			padding-top: 20px;
			text-align: center;
		}
	}

#full-holder #half-content_last .box {
	background-color: #404040;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	padding: 10px;
}

#full-holder #half-content_last .box p {
	color: #c1c1c1;
	font-size: 10px;
	text-transform: uppercase;
}

#full-holder #half-content_last .box p.alert {
	color: #c1c1c1;
}

#full-holder #half-content_last .box p.alert a:link,
#full-holder #half-content_last .box p.alert a:visited,
#full-holder #half-content_last .box p.alert a:active,
#full-holder #half-content_last .box p.alert a:hover {
	color: #daa338;
	text-decoration: none;
}

#full-holder #half-content_last .box input[type="text"], input[type="email"], input[type="password"] {
	background-image: url(images/bg_body.png);
	border: 1px solid #252525;
	box-shadow: 0px 0px 6px 3px #000000 inset;
	color: #c1c1c1;
	font-size: 14px;
	outline: none;
	padding: 2%;
	width: 96%;
}

#full-holder #half-content_last .box input[type="submit"] {
	background-image: url(images/bg_body.png);
	border: 1px solid #252525;
	box-shadow: 0px 0px 6px 3px #000000;
	color: #daa338;
	cursor: pointer;
	font-family: 'Trajan Pro';
	font-size: 14px;
	margin-top: 20px;
	outline: none;
	padding: 4%;
	text-shadow: 1px 1px #000000;
	width: 100%;
}

#full-holder #half-content_last .box input[type="submit"]:focus {
	box-shadow: 0px 0px 2px 1px #000000;
}

#full-holder #half-content_last .box select {
	background-color: #202020;
	background-image: url(images/bg_body.png);
	border: 1px solid #252525;
	box-shadow: 0px 0px 6px 3px #000000 inset;
	color: #c1c1c1;
	font-size: 14px;
	margin-right: 5px;
	outline: none;
	padding: 2%;
}

	@media(max-width: 480px) {
		#full-holder #half-content_last .box select {
			margin-right: 4px !important;
		}
	}

#holder {
	background-color: #252525;
	background-image: url(images/bg_content.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	overflow: hidden;
	padding: 15px;
	position: relative;
	top: -65px;
	z-index: 500;
}

	@media(max-width: 480px) {
		#holder {
			margin-top: 10px;
			position: static !important;
		}
	}

#holder #main-content {
	float: left;
	margin-right: 2%;
	width: 73%;
}

	@media(max-width: 480px) {
		#holder #main-content {
			margin-right: 0 !important;
			width: 100%;
		}
	}

#holder #main-content .body {
	background-color: #282928;
	background-image: url(images/bg_news_top.png);
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 5px #000000;
	padding: 10px;
}

#holder #main-content .body .fake {
	background-color: #404040;
	background-image: url(images/bg_fake.png);
	background-repeat: repeat;
	border: 1px solid #050505;
	margin-bottom: 2%;
	padding: 20px;
	padding-top: 5px;
}

#holder #main-content .body .fake:last-child {
	margin-bottom: 0;
}

#holder #main-content .body .fake .main {
	overflow: hidden;
}

#holder #main-content .body .fake .main p.read-more a:link, p.read-more a:visited {
	background-image: url(images/bg_body.png);
	border: 1px solid #353535;
	box-shadow: 0px 0px 3px 1px #151515;
	color: #c1c1c1;
	cursor: pointer;
	float: right;
	font-family: 'Trajan Pro';
	font-size: 12px;
	margin: 10px;
	outline: none;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 1px 1px #000000;
}

#holder #main-content .body .fake .main p.read-more a:active,
#holder #main-content .body .fake .main p.read-more a:hover {
	color: #daa338;
	text-decoration: none;
}

	@media(max-width: 480px) {
		#holder #main-content .body .fake .main p.read-more a:link, #holder #main-content .body .fake .main p.read-more a:visited {
			float: none !important;
			padding: 2%;
			width: 96%;
		}
	}

#holder #main-content .body .fake .main img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

#holder #main-content .body h1 a:link,
#holder #main-content .body h1 a:visited {
	color: #daa338;
	font-family: 'Trajan Pro', 'Eagle Lake', cursive;
	font-size: 26px;
	font-variant: small-caps;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	text-decoration: none;
}

#holder #main-content .body h1 a:active,
#holder #main-content .body h1 a:hover {
	color: #d1d1d1;
}

#holder #main-content .body p.author {
	color: #808080;
	margin: 0;
	padding: 0 0 20px 0;
}

#holder #main-content .body p.text {
	clear: left;
	color: #c1c1c1;
	margin: 0;
	padding: 20px 0px 20px 0px;
}

#holder #main-content .body p.text a:link,
#holder #main-content .body p.text a:visited {
	color: #daa338;
	text-decoration: none;
}

#holder #main-content .body p.text a:active,
#holder #main-content .body p.text a:hover {
	color: #daa338;
	text-decoration: underline;
}

#holder #main-content .body ul.categories {
	border-top: 1px solid #505050;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

#holder #main-content .body ul.categories li {
	color: #daa338;
	float: left;
}

#holder #main-content .body ul.categories li a:link,
#holder #main-content .body ul.categories li a:visited {
	background-image: url(images/paper_2.png);
	background-repeat: repeat;
	border: 1px solid #454545;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 1px #202020;
	color: #858585;
	float: left;
	font-size: 12px;
	margin-left: 2px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 1px 8px 2px 8px;
	text-decoration: none;
	transition:ease-out 0.3s;
		-moz-transition:ease-out 0.3s;
		-ms-transition:ease-out 0.3s;
		-o-transition:ease-out 0.3s;
		-webkit-transition:ease-out 0.3s;
}

#holder #main-content .body ul.categories li a:active,
#holder #main-content .body ul.categories li a:hover {
	box-shadow: 0px 0px 2px 1px #000000;
	color: #daa338;
	text-decoration: none;
}

#holder #side-bar {
	float: left;
	width: 25%;
}

	@media(max-width: 480px) {
		#holder #side-bar {
			margin-top: 20px;
			width: 100%;
		}
	}

#holder #side-bar .body {
	background-color: #282928;
	background-image: url(images/bg_news_top.png);
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 5px #000000;
	padding: 10px;
	z-index: 50;
}

#holder #side-bar .body_fake {
	background-color: #404040;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000 inset;
	margin-bottom: 5px;
	z-index: 1;
}

#holder #side-bar .body_fake .event-title {
	color: #daa338;
	cursor: pointer;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 15px;
	transition:ease-out 0.3s;
		-moz-transition:ease-out 0.3s;
		-ms-transition:ease-out 0.3s;
		-o-transition:ease-out 0.3s;
		-webkit-transition:ease-out 0.3s;
}

#holder #side-bar .body_fake .event-title:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: #c1c1c1;
}

#holder #side-bar .body_fake .active-title {
	background-color: rgba(0, 0, 0, 0.5);
	color: #c1c1c1;
	cursor: pointer;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 15px;
}

#holder #side-bar .body_fake .event-toggle {
	display: none;
}

#holder #side-bar .body_fake .event-toggle p.host {
	border-bottom: 1px solid #000000;
	color: #808080;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 0px 10px 0px;
	text-align: left;
}

#holder #side-bar .body_fake .event-toggle p.info {
	border-top: 1px solid #252525;
	color: #808080;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 0px 20px 0px;
	text-align: left;
}

#holder #side-bar .body_fake .event-toggle p.join {
	background-color: #2e8729;
	border-radius: 5px;
	margin: 0;
	padding: 2px 5px;
	width: 15%;
}

#holder #side-bar .body_fake .event-toggle p.join:hover {
	background-color: #23711f;
}

#holder #side-bar .body .fake {
	background-color: #404040;
	background-image: url(images/bg_fake2.png);
	background-repeat: repeat;
	border: 1px solid #050505;
	padding: 5px;
}

#holder #side-bar .body h2 {
	border-bottom: 1px solid #050505;
	color: #c1c1c1;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
}

#holder #side-bar .body img {
	display: block;
	height: auto;
	width: 100%;
	max-width: 100%;
}

#top {
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom: 5px solid #9f311d;
	overflow: hidden;
}

	@media(max-width: 480px) {
		#top {
			border-top: 5px solid #9f311d;
			padding-bottom: 5px;
			padding-top: 5px;
		}
	}

#top #menu {
	float: left;
	width: 55%;
}

	@media(max-width: 480px) {
		#top #menu {
			display: none;
		}
	}

#top #menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#top #menu ul li a:link,
#top #menu ul li a:visited {
	color: #c1c1c1;
	display: block;
	float: left;
	font-size: 12px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
	width: 55px;
}

#top #menu ul li a:active,
#top #menu ul li a:hover {
	background-color: rgba(159, 49, 29, 1);
	color: #efefef;
}

#top #menu ul li.active a {
	background-color: rgba(159, 49, 29, 1) !important;
	color: #efefef !important;
}

#top #usernav {
	float: left;
	width: 45%;
}

	@media(max-width: 480px) {
		#top #usernav {
			display: none;
		}
	}

#top #usernav ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#top #usernav ul li {
	float: left;
}

#top #usernav ul li a:link,
#top #usernav ul li a:visited {
	color: #c1c1c1;
	display: block;
	float: left;
	font-size: 12px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
	width: 55px;
}

#top #usernav ul li a:active,
#top #usernav ul li a:hover {
	background-color: rgba(159, 49, 29, 1);
	color: #efefef;
}

#top #usernav ul li.active a {
	background-color: rgba(159, 49, 29, 1) !important;
	color: #efefef !important;
}

.accept {
	cursor: pointer;
}

.accept:hover {
	color: #226b16;
}

	@media(max-width: 480px) {
		.captcha {
			height: auto;
			max-width: 90%;
			width: 90%;
		}
	}

.dark_bg {
	background-image: url(images/bg_body.png);
}

.faker {
	color: #808080 !important;
	cursor: pointer;
	display: block;
	font-family: 'Trajan Pro';
	font-size: 14px;
	padding: 15px;
	text-decoration: none;
}

.faker:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: #c1c1c1 !important;
	text-decoration: none;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
}

.hr-400 {
	border-bottom: 1px solid #353535;
	border-top: 1px solid #000000;
	margin-bottom: 30px;
	margin-top: 20px;
	width: 30%;
}

	@media(max-width: 480px) {
		.hr-400 {
			width: 100%;
		}
	}

.line_hr {
	border: 2px solid #9f311d;
	float: left;
	margin-bottom: 25px;
	width: 100px;
}

.mini-wrap {
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 30%;
}

	@media(max-width: 480px) {
		.mini-wrap {
			margin-top: 20px !important;
			width: 95%;
		}
	}

	@media(max-width: 480px) {
		.no-mobile {
			display: none;
		}
	}

.mobile-nav {
	background-color: #202020;
	background-image: url(images/bg_body.png);
	border: 1px solid #252525;
	box-shadow: 0px 0px 6px 3px #000000 inset;
	color: #c1c1c1;
	font-size: 14px;
	margin-right: 5px;
	outline: none;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.only-mobile {
	display: none;
}

	@media(max-width: 480px) {
		.only-mobile {
			display: block;
		}

		#logo {
			text-align: center;
			width: 100%;
		}

		#logo img {
			display: block;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			max-width: 30%;
			width: 30%;
		}
	}

.placeholder_left {
	padding-left: 20px !important;
	text-align: left !important;
}

.shadow-box {
	background-color: #252525;
	background-image: url(images/bg_content.png);
	background-repeat: repeat;
	border: 1px solid #252525;
	box-shadow: 0px 0px 10px 5px #000000;
	overflow: hidden;
	padding: 30px;
	text-align: left;
}

.shadow-box img.right {
	border: 1px solid #353535;
	box-shadow: 0px 0px 10px 5px #000000;
	display: block;
	float: right;
	height: auto;
	margin-bottom: 50px;
	margin-left: 75px;
	max-width: 338px;
	width: 338px
}

	@media(max-width: 480px) {
		.shadow-box img.right {
			margin-bottom: 20px !important;
			max-width: 100%;
			width: 100%;
		}
	}

.shadow-box h2 {
	margin: 0 !important;
	padding: 0 !important;
}

.shadow-box p, ul li {
	color: #c1c1c1 !important;
}

.shadow-box ul li {
	list-style-type: square;
}

.slide_navigation_left {
	background-color: rgba(159, 49, 29, 0.2);
	border-radius: 20px;
	color: #000000;
	display: none;
	float: left;
	font-size: 22px;
	margin-left: 20px;
	padding: 5px;
	position: relative;
	text-decoration: none;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
	top: -235px;
	z-index: 10000;
}

.slide_navigation_left:hover {
	background-color: rgba(159, 49, 29, 0.8);
}

.slide_navigation_right {
	background-color: rgba(159, 49, 29, 0.2);
	border-radius: 20px;
	color: #000000;
	display: none;
	float: right;
	font-size: 22px;
	margin-right: 20px;
	padding: 5px;
	position: relative;
	text-decoration: none;
	transition:ease-out 0.6s;
		-moz-transition:ease-out 0.6s;
		-ms-transition:ease-out 0.6s;
		-o-transition:ease-out 0.6s;
		-webkit-transition:ease-out 0.6s;
	top: -235px;
	z-index: 10000;
}

.slide_navigation_right:hover {
	background-color: rgba(159, 49, 29, 0.8);
}

.small-input {
	width: 20% !important;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

	@media(max-width: 480px) {
		.wrap {
			width: 95%;
		}
	}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555555;
    text-shadow: 1px 1px #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #555555;
   opacity:  1;
    text-shadow: 1px 1px #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #555555;
   opacity:  1;
    text-shadow: 1px 1px #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #555555;
    text-shadow: 1px 1px #000;
}

span.detail {
	color: #c1c1c1;
	margin-left: 20px;
}

span.back a {
	color: #daa338;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	width: 10%;
}

.inactive {
	color: #505050 !important;
}